<html ng-app="App">
	<head>
		<title># GENERO #</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="colpick.css" type="text/css"/>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpg" href="fav.jpg" />
		<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="fav.jpg" /><![endif]-->
	</head>
	<body>
		<header>
			<p>GENERO: Générateur de petits trucs CSS bien pratique...</p>
		</header>
		<div id="tabs" ng-controller="couleur">
			<ul>
				<li><a href="#tabs-1">Box-shadow</a></li>
				<li><a href="#tabs-2">Text-shadow</a></li>
				<li><a href="#tabs-3">Dégradés</a></li>
			</ul>
				<div class="ong" id="tabs-1">
					<table>
						<tr>
							<td>
								<form>
									<legend>l'ombre:</legend>
									<legend>décalage X : {{xdec}}</legend>
									<input type="range" ng-model="xdec" ng-init="xdec=5" max="80" min="-80">

									<legend>décalage Y : {{ydec}}</legend>
									<input type="range" ng-model="ydec" ng-init="ydec=5" max="80" min="-80">

									<label>flou : {{flou}}</label>
									<input type="range" ng-model="flou" ng-init="flou=5" max="100" min="0">

									<label>distance avant flou : {{Dflou}}</label>
									<input type="range" ng-model="Dflou" ng-init="Dflou=1" max="100" min="0">

									<label>ombre a l'interieur: </label>
									<input type="checkbox" ng-model="inset" ng-true-value="inset" ng-false-value="" />

									<label>couleur de l'ombre: {{color}}</label>
									<input class="color" type="text" ng-model="color" ng-init="color='#aaaaaa'" />

									<legend>le carré:</legend>
									<label>couleur du carré: {{colord}}</label>
									<input class="color" type="text" ng-model="colord" ng-init="colord='#aefb98'" />

									<legend>arrondis des bords : {{rad}}</legend>
									<input type="range" ng-model="rad" ng-init="rad=10" max="50" min="0">
								</form>
							</td>
							<td>
								<div class="exemple" style="box-shadow: {{inset}} {{xdec}}px {{ydec}}px {{flou}}px {{Dflou}}px {{color}};
															background-color: {{colord}}; border-radius: {{rad}}%;" >
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" ><p>récuperez le code ici:</p>
								<code>
									.exemple{<br/>
										box-shadow: {{inset}} {{xdec}}px {{ydec}}px {{flou}}px {{Dflou}}px {{color}};<br/>
										background-color: {{colord}};<br/>
										border-radius: {{rad}}%;<br/>
									}
								</code>
							</td>
						</tr>
					</table>
				</div>
				<div class="ong" id="tabs-2">
					<table>
						<tr>
							<td>
								<form>
									<legend>l'ombre</legend>
									<label>décalage X : {{x_dec}}</label>
									<input type="range" ng-model="x_dec" ng-init="x_dec=10" max="80" min="-80">
									<label>décalage Y : {{y_dec}}</label>
									<input type="range" ng-model="y_dec" ng-init="y_dec=10" max="80" min="-80">
									<label>flou : {{blur}}</label>
									<input type="range" ng-model="blur" ng-init="blur=10" max="90" min="0">
									<label>couleur de l'ombre: {{TOcolor}}</label>
									<input class="color" type="text" ng-model="TOcolor" ng-init="TOcolor='#4b43f3'" />
									<legend>le texte</legend>
									<label>couleur du texte: {{Tcolor}}</label>
									<input class="color" type="text" ng-model="Tcolor" ng-init="Tcolor='#9f23d4'" />
								</form>
							</td>
							<td>
								<p class="exemple" id="exemple2" style="text-shadow: {{x_dec}}px {{y_dec}}px {{blur}}px {{TOcolor}}; color: {{Tcolor}};" >Texte d'exemple
								</p>
							</td>
						</tr>
						<td colspan="2" ><p>récuperez le code ici:</p>
								<code>
									.exemple{<br/>
										text-shadow: {{x_dec}}px {{y_dec}}px {{blur}}px {{TOcolor}};<br/>
										color: {{Tcolor}};<br/>
									}
								</code>
							</td>
					</table>
				</div>
				<div class="ong" id="tabs-3">
			    	<table>
						<tr>
							<td>
								<form>
									<label>orientation: </label><br/>
										<span>vers le haut</span>
										<input type="radio" name="or" ng-model="dir" value="to top" ng-init="dir='to top'" ><br/>
										<span>vers le bas</span>
										<input type="radio" name="or" ng-model="dir" value="to bottom"><br/>
										<span>vers la gauche</span>
										<input type="radio" name="or" ng-model="dir" value="to left"><br/>
										<span>vers la droite</span>
										<input type="radio" name="or"ng-model="dir" value="to right"><br/>
										<label>couleur de debut: {{dcolor}}</label>
										<input class="color" type="text" ng-model="dcolor" ng-init="dcolor='#9f23d4'" />
										<label>couleur de fin: {{fcolor}}</label>
										<input class="color" type="text" ng-model="fcolor" ng-init="fcolor='#2a3c5f'" />
								</form>
							</td>
							<td>
									<div class="exemple" id="exemple3" style="background-image:linear-gradient({{dir}}, {{dcolor}}, {{fcolor}});" ></div>
							</td>
						</tr>
						<tr>
							<td colspan="2" ><p>récuperez le code ici:</p>
								<code>
									.exemple{<br/>
										background-image:linear-gradient({{dir}}, {{dcolor}}, {{fcolor}});"<br/>
									}
								</code>
							</td>
						</tr>
					</table>
				</div>
			</div>

		<footer>
			appli de Rémi collignon: <a href="https://github.com/miton18/genero" target="_TOP" >github</a>  <a href="http://remi.rcdinfo.fr" target="_TOP" >l'auteur</a>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>

		<script src="perso.js" ></script>
		<script src="colpick.js" ></script>
	</body>
</html>